
  <form (submit)="createEmployee()" name="add">

  <h4 class="text-center">Add New Employee Or Manager</h4>
  <div class="container">
    
    <div class="in">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="email"[(ngModel)]="newEmployee.name" 
       class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter Name" required>
    </div>
    <br>
    <div class="form-group">
    <input type="text" [(ngModel)]="newEmployee.surname" 
     class="form-control" placeholder="Surname" name="surname" required>
    </div>
    <br>
    <div class="form-group">
    <input type="text" [(ngModel)]="newEmployee.position"  class="form-control" placeholder="Position" name="position" required>
    </div>
    <br>
    <div class="form-group">
      <input type="date" [(ngModel)]="newEmployee.birth" 
      class="form-control" id="date" placeholder="Birth Date" name="birth" required>
    </div>
    <br>
    <div class="form-group">
      <label for="salary">Salary</label>
      <input type="number" [(ngModel)]="newEmployee.salary" 
      class="form-control" id="salary" placeholder="Salary" name="salary" required>
    </div>
    <br>
    <div class="form-group-select">
      <label for="type">Select Type</label>
      <select name="type" [(ngModel)]="newEmployee.employeeType" id="type">
      <option value="CEO">CEO</option>
      <option value="EMPLOYEE">EMPLOYEE</option>
      <option value="MANAGER">MANAGER</option>
      </select>
      <br>
    </div>
    <br>

    <button type="submit" class="btn btn-primary">Submit</button>
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      {{ successMessage }}
  </div>
  
  </div>
</div>
</form>