<body>

    <div class="sidebar">
        <header>EPI-USE</header>
       
         <div class="profile">
            <div class="img">
                <h4 class="text-warning">Admin</h4>
                <img src="/assets/images/profile.png" alt="Avatar" class="avatar">
            </div>
           <div class="details">
            <h6 class="text-warning">Andries Ntobeng</h6>
            <h6 class="text-warning"> andries@epi.co.za</h6>
            <h6 class="text-warning">072-86-85879</h6>
           </div>
          
        </div>
        <ul>
            <li><a href="#"><i class="fas fa-qrcode"></i> Dashboard</a></li>
            <li><a href="#"><i class="fas fa-link"></i>About</a></li>
            <li><a href="#"><i class="fas fa-stream"></i> Profile</a></li>
            <li><a href="#"><i class="fas fa-calendar"></i>Calendar</a></li>

        </ul>
    </div>
    <div class="left">
        <h4 class="text-center">Welcome To EPI-USE Admin Dashboard</h4>
       
        <div class="row justify-content-center">
        <div class="table-container">
            <div class="container mt-3">
                <p>The List of Registered Employees</p>
                
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Position</th>
                        <th>Salary</th>
                        <th>Manager Name</th>
                        <th>Birthdate</th>
                        <th>Type</th>
                        <th>GoTo</th>
                    
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let emp of employees">
                     




                        <td>{{emp.id}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.surname}}</td>
                        <td>{{emp.position}}</td>
                        <td>{{"R"+emp.salary}}</td>
                        <td>{{emp.managerName}}</td>
                        <td>{{emp.birth}}</td>
                        <td>{{emp.employeeType}}</td>
                  
                       <td>
                        <p [routerLink]="['/user-profile', emp.id]">View</p>
                      </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
        
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="navigateToAddEmployee()">Register new employee</button>
        <br>
        <br>
        <button type="button" class="btn btn-primary"  (click)="navigateToChart()">View Employee Tree</button>

    </div>
    <div class="row justify-content-center">
    
      </div>


    </div>

</body>